.header {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  font-size: 3vmin;
  justify-content: center;
}


.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: 3vmin;
}